{% extends "webrtc/base.html" %}
{% load i18n %}
{% block content-body %}
<ul>
<!--	<li>-->
 <div style="font-size:20px;font-family:verdana;padding:3px 5px 3px 140px;border-radius:15px;-moz-border-radius:15px;box-shadow:0px 0px 13px #666;-webkit-box-shadow:0px 0px 13px #666;-moz-box-shadow:0px 0px 13px #666;background: #00FF66;color:#ffffff"><a href="/webrtc/view_archive/">Archive</a></div>
<br/>
 <div style="font-size:20px;font-family:verdana;padding:3px 5px 3px 140px;border-radius:15px;-moz-border-radius:15px;box-shadow:0px 0px 13px #666;-webkit-box-shadow:0px 0px 13px #666;-moz-box-shadow:0px 0px 13px #666;background:#00FF66;color:#ffffff""><a href="/webrtc/upload_file/">Upload file</a></div>
<br/> 
<div style="font-size:20px;font-family:verdana;padding:3px 5px 3px 140px;border-radius:15px;-moz-border-radius:15px;box-shadow:0px 0px 13px #666;-webkit-box-shadow:0px 0px 13px #666;-moz-box-shadow:0px 0px 13px #666;background: #00FF66;color:#ffffff""><a href="/webrtc/batch_upload/">Batch Upload</a></div>
<!--
<a style="background-image: none;border: 1px solid transparent;
border-radius: 4px;color: #fff;
background-color: #428bca;
border-color: #357ebd;" href="/webrtc/view_archive/" class="btn btn-primary">Archive</a></li>-->
<!--<a href="/webrtc/view_archive/">Archive</a></li>--><!--
<li><a style="background-image: none;border: 1px solid transparent;
border-radius: 4px;color: #fff;
background-color: #428bca;
border-color: #357ebd;" href="/webrtc/upload_file/" class="btn btn-primary">Upload file</a></li>-->
<!--<li><a href="/webrtc/upload_file/">Upload file</a></li>-->
<!--<li><a style="background-image: none;border: 1px solid transparent;
border-radius: 4px;color: #fff;
background-color: #428bca;
border-color: #357ebd;" href="/webrtc/batch_upload/" class="btn btn-primary">Batch Upload</a></li>-->
</ul>
{% endblock %}